.vp-code .tab,
.vp-code .space {
  position: relative;
}

.vp-code .tab::before {
  content: "⇥";
  position: absolute;
  opacity: 0.3;
}

.vp-code .space::before {
  content: "·";
  position: absolute;
  opacity: 0.3;
}
