name: CI

on:
  push:
    branches:
      - main
      - dev

  pull_request:
    branches:
      - main
      - dev

  merge_group: {}

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Set node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Typecheck
        run: nr typecheck

  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Build
        run: nr build

      - name: Cache dist
        uses: actions/upload-artifact@v6
        with:
          retention-days: 3
          name: dist
          path: packages/*/dist

  test:
    runs-on: ${{ matrix.os }}
    needs:
      - build
    strategy:
      matrix:
        node: [lts/*]
        os: [ubuntu-latest, windows-latest, macos-latest]
        include:
          - node: 18.x
            os: ubuntu-latest
      fail-fast: false

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - name: Set node ${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: pnpm

      - name: Setup
        run: npm i -g @antfu/ni

      - name: Install
        run: nci

      - name: Restore dist cache
        uses: actions/download-artifact@v6
        with:
          name: dist
          path: packages

      - name: Test
        run: nr test
        if: ${{ matrix.node != 'lts/*' || matrix.os != 'ubuntu-latest' }}

      - name: Test with coverage
        run: nr test --coverage
        if: ${{ matrix.node == 'lts/*' && matrix.os == 'ubuntu-latest' }}

      - name: Report coverage
        uses: codecov/codecov-action@v5
        if: ${{ matrix.node == 'lts/*' && matrix.os == 'ubuntu-latest' }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Fixtures
        run: nr test:fixtures
